* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-align: center;
  text-decoration: underline;
}

section {
  text-align: center;
  margin: 30px 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #00509e;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.project {
  text-align: center;
  margin-top: 15px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: white;
  margin-top: 30px;
}

